# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Leo Belyi
	email = leonid.belyi@mycase.com
[core]
	excludesfile = /Users/leo.belyi/.gitignore.global
	compression = 0
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[http]
	postBuffer = 524288000
[github]
	username = leonidbelyi
	token = <REPLACE_WITH_NEW_GITHUB_PAT>
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
