# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Leo Belyi
	email = leonid.belyi@mycase.com
[core]
	excludesfile = ~/.gitignore.global
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
